.tickets {
  display:flex; gap:0px; text-align:center; justify-content:center;  line-height:1.4; 
    width:1120px; margin-inline:0; margin:auto; max-width:100%;
    @media (width <= 1120px) {padding-inline:20px;}
    @media (width <= 1000px) {
        flex-direction: column; align-items:center;
    }
    &:has(> .featured) {
        padding-top:58px; 
    }
    & h3 {margin:0; padding:0}
    & > div {
        border:1px solid #ccc; border-radius:20px; background:#fff; max-width:420px; margin-bottom:50px;
        position:relative; padding-bottom:50px; flex: 1;
        &:nth-child(2) {z-index:1}
    }
    & > div:has(.ticket-btn2) {
        padding-bottom:135px;
    }
    & > div:has(.ticket-btn3) {
        padding-bottom:220px;
    }
    &:has(> div:nth-child(4)) {width:100%; padding-inline:20px}
    & > [class*="category-"] {
        --cart-category-background:#fff;
        --main-color:#000000;
        --second-color:#525252;
        --cart-background: linear-gradient(90deg, var(--main-color) 15%, var(--second-color) 50%);
        --cart-category-background: #fff;
        --cart-price-color: #fff;
        --cart-promo-lable-background: #000;
        --cart-items-color: #000;
        --cart-no-items-color: #989898;
        width:100%;
        & .category-label {
            position:absolute; background-color:transparent; left:-45px; top:44px; width:200px; height:20px; 
            line-height:20px; font-size:12px; font-weight:bold; color:#fff; text-shadow: 0px 2px 2px rgba(0,0,0,.8);
            transform:rotate(-45deg); letter-spacing:0.05em;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #f91936;
            &:before, &:after {
                content:""; display:inline-block; position:absolute; top:20px; left:-20px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #990a14;
            }
            &:after {left:unset; right:-20px}
        }
    }
  
   & .category-bronze {
      background: linear-gradient(0deg, rgba(104,104,104,0.3) 0%, rgba(255,255,255,0.3) 100%) !important; backdrop-filter: blur(2px); 
      -webkit-backdrop-filter: blur(2px); border: 1px solid rgba(255, 255, 255, 0.3) !important;
      & .category-header {
        background: radial-gradient(circle, rgba(172,114,21,1) 0%, rgba(202,133,21,1) 50%, rgba(202,133,21,1) 100%); border-radius:19px 19px 0 0 !important;
        padding-block:13px !important; color:#fff;
          & h3 {color:white !important;}
      }
      & .category-doorprice, & .category-price, & .category-save, & .category-status, & .category-seat-layout {color:white !important;}
      & .category-doorprice {
          & span:before {background:white !important;}
      }
      & .category-items {
          & li {
            color:white !important;
              &::before {color:white !important;}
          }
          & li.active {
            color:white !important;
              &::before {color:white !important;}
          }
      }
      & .ticket-btn, & .ticket-btn2, & .ticket-btn3 {
        background: radial-gradient(circle, rgba(172,114,21,1) 0%, rgba(202,133,21,1) 50%, rgba(202,133,21,1) 100%);
          & .category-btnsub {color:white;}
          & .category-btntitle {color:white;}
      }
   }
   & .category-yellow {
      background: linear-gradient(0deg, rgba(104,104,104,0.3) 0%, rgba(255,255,255,0.3) 100%) !important; backdrop-filter: blur(2px); 
      -webkit-backdrop-filter: blur(2px); border: 1px solid rgba(255, 255, 255, 0.3) !important;
      & .category-header {
        background: radial-gradient(circle, rgba(154,107,4,1) 0%, rgba(253,194,71,1) 100%); border-radius:19px 19px 0 0 !important;
        padding-block:13px !important;
          & h3 {color:white !important;}
      }
      & .category-doorprice, & .category-price, & .category-save, & .category-status, & .category-seat-layout, & .category-offer {color:white !important;}
      & .category-doorprice {
          & span:before {background:white !important;}
      }
      & .category-items {
          & li {
            color:white !important;
              &::before {color:white !important;}
          }
          & li.active {
            color:white !important;
              &::before {color:white !important;}
          }
      }
      & .ticket-btn {
        background: radial-gradient(circle, rgba(154,107,4,1) 0%, rgba(253,194,71,1) 100%);
          & .category-btnsub {color:white;}
          & .category-btntitle {color:white;}
      }
   }
   & .category-aquablue {
      background: linear-gradient(0deg, rgba(104,104,104,0.3) 0%, rgba(255,255,255,0.3) 100%) !important; backdrop-filter: blur(2px); 
      -webkit-backdrop-filter: blur(2px); border: 1px solid rgba(255, 255, 255, 0.3) !important;
      & .category-header {
        background: radial-gradient(circle, rgba(5,137,153,1) 0%, rgba(67,235,253,1) 100%); border-radius:19px 19px 0 0 !important;
        padding-block:13px !important; color:#fff;
          & h3 {color:white !important;}
      }
      & .category-doorprice, & .category-price, & .category-save, & .category-status, & .category-seat-layout {color:white !important;}
      & .category-items {
          & li {
            color:white !important;
              &::before {color:white !important;}
          }
          & li.active {
            color:white !important;
              &::before {color:white !important;}
          }
      }
      & .ticket-btn {
        background: radial-gradient(circle, rgba(5,137,153,1) 0%, rgba(67,235,253,1) 100%);
          & .category-btnsub {color:white;}
          & .category-btntitle {color:white;}
      }
   }
   
  & .category-red {
      max-width: 960px !important; flex-basis: 100%; margin-top: 20px;
      background: linear-gradient(0deg, rgba(104,104,104,0.3) 0%, rgba(255,255,255,0.3) 100%) !important; backdrop-filter: blur(2px); 
      -webkit-backdrop-filter: blur(2px); border: 1px solid rgba(255, 255, 255, 0.3) !important; padding-bottom: 75px !important;
      & .category-header {
        background: linear-gradient(144deg, rgba(228, 13, 0, 1) 0%, rgba(138, 18, 17, 1) 47%, rgba(248, 14, 0, 1) 100%) !important;
        border-radius: 20px 20px 0px 0px !important; color:#fff;
        padding-block:25px !important;
          & h3 {color:white !important;}
      }
      & .category-doorprice, & .category-price, & .category-save, & .category-status, & .category-seat-layout {color:white !important;}
      & .category-price {font-family: 'Roboto', sans-serif !important; padding-bottom: 0px !important}
      & .category-items {
          & li {
            color:white !important;
              &::before {color:white !important;}
          }
          & li.active {
            color:white !important;
              &::before {color:white !important;}
          }
      }
      & .ticket-btn {
        background: radial-gradient(circle, rgba(112, 21, 0, 1) 0%, rgba(225, 41, 0, 1) 100%) !important; box-shadow: 0 0 10px rgba(255, 255, 255, 1) !important;
        animation: blink 1.2s infinite; position:static; padding: 20px 30px; font-size: 24px; max-width: fit-content;
        @media (width <= 720px) {max-width: 80%}
          & .category-btnsub {color:white;}
          & .category-btntitle {color:white;}
      }
    
  }
   
   
}
